[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
shortuuid = "*"
python-dotenv = "*"
pycryptodome = "*"
pyjwkest = "*"
djangorestframework = "*"
celery = {extras = ["redis"], version = "*"}
django-anymail = "*"
social-auth-core = "*"

[dev-packages]
isort = "*"
black = "*"
ipython = "*"
djlint = "*"
django-debug-toolbar = "*"
django-extensions = "*"

[requires]
python_version = "3.11"
