[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
shortuuid = "*"
python-dotenv = "*"
pycryptodome = "*"
pyjwkest = "*"
djangorestframework = "*"
celery = {extras = ["redis"], version = "*"}
django-anymail = "*"
social-auth-core = "*"
dj-database-url = "*"
psycopg-binary = "*"
psycopg = "*"
daphne = "*"
whitenoise = "*"
django-cors-headers = "*"
honcho = "*"
gevent = "*"
django-axes = {extras = ["ipware"], version = "*"}
sentry-sdk = {extras = ["django"], version = "*"}

[dev-packages]
isort = "*"
black = "*"
ipython = "*"
djlint = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pytest = "*"

[requires]
python_version = "3.11"
