{% extends "core/base.html" %}
{% load static %}
{% block layout %}
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a class="navbar-brand navbar-brand-autodark">
                <img src="{% static 'core/img/logo.svg' %}" alt="Logo" class="navbar-brand-image">
            </a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="card-title fs-1  text-center mb-6">Login to {{ name }}</h2>
                <form method="post"
                      autocomplete="off"
                      novalidate=""
                      data-bitwarden-watching="1">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label fs-3">Email address</label>
                        <input name="email"
                               type="email"
                               class="form-control"
                               placeholder="your@email.com"
                               autocomplete="off">
                    </div>
                    <div class="mb-2">
                        <label class="form-label fs-3">Password</label>
                        <div class="input-group input-group-flat">
                            <input name="password"
                                   id="password"
                                   type="password"
                                   class="form-control"
                                   placeholder="Your password"
                                   autocomplete="off">
                            <span class="input-group-text">
                                <a class="link-secondary"
                                   onclick="togglePassword('password')"
                                   aria-label="Show password">
                                    <i id="toggle-icon" class="bi bi-eye-fill"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <span class="">
                        <a href="/account/forgot-password/?organization_id={{ request.organization.id }}">Forgot password?</a>
                    </span>
                    <div class="form-footer">
                        <button type="submit"
                                _="on click add .btn-loading to me"
                                class="btn btn-primary w-100 fs-3">Log in</button>
                    </div>
                </form>
                {% if messages %}
                    <div class="mt-2">
                        {% for message in messages %}<div class="alert {{ message.extra_tags }} m-0">{{ message }}</div>{% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if providers %}
                <div class="hr-text">or</div>
                <div class="card-body">
                    <div class="col ">
                        {% for provider in providers %}
                            <div class="col">
                                <a href={{ provider.url }} class="btn w-100">
                                    {{ provider.icon|safe }}
                                    {{ provider.text }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% if can_register %}
            <div class="text-center text-secondary mt-3">
                Don't have account yet? <a href="/user/register" tabindex="-1">Sign up</a>
            </div>
        {% endif %}
    </div>
{% endblock layout %}
{% block extra_js %}
    <script src="{% static 'core/js/sentinel.js'%}"></script>
{% endblock extra_js %}
